@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 24px;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

body {
    background-image: url(./images/background.jpg);
}

.search {
    margin-top: 50px;
}

input,
button {
    padding: 5px;
    background-color: black;
}

button:hover {
    cursor: pointer;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#forecast {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    text-align: center;
    margin-bottom: 100px;
}

#temp {
    font-size: 50px;
    font-weight: 900;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#toggle {
    margin-top: 20px;
}

.hidden {
    display: none;
}